<div id="search">
  <div class="wrapper">
    <div>
      <input type="search" placeholder="Поиск…" />
    </div>
  </div>
</div>
<section id="mailings" class="wrapper">
  <% if @mailings.empty? %>
    <h1>Пусто!</h1>
  <% else %>
    <div class="line">
      <%= render partial: 'mailing', collection: @mailings %>
    </div>
  <% end %>
</section>
