<div id="search">
  <div class="wrapper">
    <div>
      <input type="search" placeholder="Поиск…" />
    </div>
  </div>
</div>
<section id="mailings" class="wrapper">
  <div class="line">
    <a href="/mailings/farlander-24062012">
      <p class="name set">Farlander</p>
      <div class="info">
        <p class="delivered">102 доставлено</p>
        <p class="pending">16 отправлено</p>
        <p class="failed">6 не дошли до адресата</p>
      </div>
      <div class="total">
        <h3>
          <span>Итого:&nbsp;</span>
          <span class="countries">
            <span class="russia">по России — <span id="sending_7">124</span></span>
          </span>
        </h3>
      </div>
    </a>
    <a href="/mailings/farlander-24062012">
      <p class="name set">Jguardo</p>
      <div class="info">
        <p class="delivered">6035 доставлено</p>
        <p class="error">334 не дошли до адресата</p>
      </div>
      <div class="total">
        <h3>
          <span>Итого:&nbsp;</span>
          <span class="countries">
            <span class="russia">по России — <span id="sending_7">5373</span>,</span>
            <span class="ukraine">по Украине — <span id="sending_38">996</span></span>
          </span>
        </h3>
      </div>
    </a>
    <a href="/mailings/farlander-24062012">
      <p class="name set">Spam</p>
      <div class="info">
        <p class="delivered">165359 доставлено</p>
      </div>
      <div class="total">
        <h3>
          <span>Итого:&nbsp;</span>
          <span class="countries">
            <span class="russia">по России — <span id="sending_7">161743</span>,</span>
            <span class="ukraine">по Украине — <span id="sending_38">3616</span></span>
          </span>
        </h3>
      </div>
    </a>
  </div>
  <div class="line">
    <a href="/mailings/farlander-24062012">
      <p class="name set">Farlander</p>
      <div class="info">
        <p class="delivered">102 доставлено</p>
        <p class="pending">16 отправлено</p>
        <p class="error">6 не дошли до адресата</p>
      </div>
      <div class="total">
        <h3>
          <span>Итого:&nbsp;</span>
          <span class="countries">
            <span class="russia">по России — <span id="sending_7">124</span></span>
          </span>
        </h3>
      </div>
    </a>
    <a href="/mailings/farlander-24062012">
      <p class="name set">Spam</p>
      <div class="info">
        <p class="delivered">165359 доставлено</p>
      </div>
      <div class="total">
        <h3>
          <span>Итого:&nbsp;</span>
          <span class="countries">
            <span class="russia">по России — <span id="sending_7">161743</span>,</span>
            <span class="ukraine">по Украине — <span id="sending_38">3616</span></span>
          </span>
        </h3>
      </div>
    </a>
    <a href="/mailings/farlander-24062012">
      <p class="name set">Jguardo</p>
      <div class="info">
        <p class="delivered">6035 доставлено</p>
        <p class="error">334 не дошли до адресата</p>
      </div>
      <div class="total">
        <h3>
          <span>Итого:&nbsp;</span>
          <span class="countries">
            <span class="russia">по России — <span id="sending_7">5373</span>,</span>
            <span class="ukraine">по Украине — <span id="sending_38">996</span></span>
          </span>
        </h3>
      </div>
    </a>
  </div>
</section>
