<div id="search">
  <div class="wrapper">
    <div>
      <input type="search" placeholder="Поиск…" />
    </div>
  </div>
</div>
<section id="mailings" class="wrapper">
  <div class="line">
    <%= render partial: 'mailing', collection: @mailings %>
  </div>
</section>
