  <form method="post" action="/" id="messages-form">
    <div id="sender">
      <div class="wrapper">
        <div>
          <input type="text" name="mailing[sender]" placeholder="Отправитель…" />
        </div>
      </div>
    </div>
    <section class="wrapper">
      <article class="message start" data-parts-amount="0" data-recipients-amount="9" data-recipients-amount-7="7" data-recipients-amount-38="2">
        <h1 class="bold number">1</h1>
        <textarea name="mailing[][message]" placeholder="Текст сообщения…"></textarea>
        <div class="recipients">
          <input type="text" name="mailing[][recipients][79651331586]" value="Передовые Интернет Технологии" class="bubble contact" />
          <input type="text" name="mailing[][recipients][79655285838]" value="Сириус" class="bubble contact" />
          <input type="text" name="mailing[][recipients][79174269927]" value="Евангелина Козлова" class="bubble contact" />
          <input type="text" name="mailing[][recipients][79655285839]" value="Адольф Семёнов" class="bubble contact" />
          <input type="text" name="mailing[][recipients][389618663451]" value="Армяне" class="bubble contact" />
          <input type="text" name="mailing[][recipients][79655285837]" value="+7 (965) 528-58-37" class="bubble phone" />
          <input type="text" name="mailing[][recipients][79115615665]" value="Пронин Андрей" class="bubble contact" />
          <input type="text" name="mailing[][recipients][79655285840]" value="Иосиф Козёнов" class="bubble contact" />
          <input type="text" name="mailing[][recipients][389964154155]" value="Павел Евтушенко" class="bubble contact" />
          <input class="new" type="text" />
        </div>
        <h1 class="bold amount">9</h1>
      </article>
      <article class="message new" data-parts-amount="0" data-recipients-amount="0">
        <textarea placeholder="Ещё одно сообщение…"></textarea>
      </article>
    </section>
    <div id="total">
      <div class="wrapper">
        <div>
          <h3>
            <span>Итого:&nbsp;</span>
            <span class="countries">
              <span class="russia">по России — <span id="sending_7">7</span>,</span>
              <span class="ukraine">по Украине — <span id="sending_38">2</span></span>
            </span>
          </h3>
          <hr />
          <div class="actions">
            <button type="button">Отправить</button>
            <span class="draft">
              или <a href="" class="pseudolink"><u>сохранить в черновик</u></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>

