  <%= form_for @mailing do |f| %>
    <div id="sender">
      <div class="wrapper">
        <div>
          <%= f.text_field :sender, placeholder: "Отправитель…" %>
        </div>
      </div>
    </div>
    <section class="wrapper">
      <%= render partial: 'message', collection: @mailing.messages %>
      <article class="message new" data-parts-amount="0" data-recipients-amount="0">
        <textarea placeholder="Ещё одно сообщение…"></textarea>
      </article>
    </section>
    <div id="total">
      <div class="wrapper">
        <div>
          <h3>
            <span>Итого:&nbsp;</span>
            <span class="countries">
              <span id="country_7">по России — <span id="sending_7">7</span>,</span>
              <span id="country_38">по Украине — <span id="sending_38">2</span></span>
            </span>
          </h3>
          <hr />
          <div class="actions">
            <button type="submit" name="commit" value="send">Отправить</button>
            <span class="draft">
              или <a href="#" onclick="$(this).parents('form').submit(); return false" class="pseudolink"><u>сохранить в черновик</u></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

