<% resource = current_user; resource_name = :user %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { method: :put, class: 'dropdown' }) do |f| %>
  <!-- %= devise_error_messages! % -->
  <div class="white">
    <p>
      <label>
        Новый логин
        <%= f.email_field :email %>
      </label>
    </p>
    <p>
      <label>
        Новый пароль
        <%= f.password_field :password, :autocomplete => "off" %>
      </label>
    </p>
    <p>
      <label>
        Текущий пароль
        <%= f.password_field :current_password, placeholder: 'Обязательное поле', required: 'required' %>
      </label>
    </p>
    <p class="total">
      <button>Сохранить изменения</button>
    </p>
  </div>
<% end %>
