<% resource = current_page?(new_manager_session_path) ? Manager.new : User.new; resource_name = resource.class.name.downcase.to_sym %>
<%= form_for(resource, :as => resource_name, :url => new_mailing_path, :html => { class: 'dropdown', method: :get }) do |f| %>
  <!-- %= devise_error_messages! % -->
  <div class="white">
    <p>
      <label>
        Адрес эл. почты
        <%= f.email_field :email, placeholder: 'Единственное поле', required: 'required' %>
      </label>
    </p>
    <!-- %= <p>
      <label>
        Пароль
        <%= f.password_field :password, placeholder: 'Обязательное поле', required: 'required' %>
      </label>
    </p> -->
    <p class="total">
      <button>Зарегистрироваться</button>
    </p>
  </div>
<% end %>
