<% resource = User.new; resource_name = :user %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: 'dropdown' }) do |f| %>
  <!-- %= devise_error_messages! % -->
  <div class="white">
    <p>
      <label>
        Адрес эл. почты
        <%= f.email_field :email, placeholder: 'Единственное поле', required: 'required' %>
      </label>
    </p>
    <!-- %= <p>
      <label>
        Пароль
        <%= f.password_field :password, placeholder: 'Обязательное поле', required: 'required' %>
      </label>
    </p> -->
    <p class="total">
      <button>Зарегистрироваться</button>
    </p>
  </div>
<% end %>
