//// Mixins

.border-box() {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}

.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}

.rounded(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.fix-spaces() {
  letter-spacing: -.31em;
  word-spacing:   -.43em;
  
  .child() {
    letter-spacing: normal;
    word-spacing:   normal;
  }
}

.placeholder {
  font-style: italic;
  color: darken(@color-gray, 33%);
}

.button() {
    box-shadow:       0  1px 3px rgba(0, 0, 0, 0.15),
                inset 0 -1px 0px rgba(0, 0, 0, 0.1),
                inset 0  2px 0   rgba(255, 255, 255, 0.15),
                inset 0  1px 0   rgba(255, 255, 255, 0.45);
  
  .pressed() {
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.15),
                inset 0 1px 3px rgba(0, 0, 0, 0.25),
                      0 2px 0   rgba(255, 255, 255, 0.15),
                      0 1px 0   rgba(255, 255, 255, 0.45);
  }
  
  .size() {
    padding: 0 0.8em;
    min-height: 1.8em;
    line-height: 1.8em;
  }
}

.inset-text(@color-top) {
    text-shadow: 0 -1px 0 @color-top,
                 0  1px 0 @color-white;
}

.message-status() {
  @color-start: lighten(@new-color, 4.5%);
  @color-stop:  darken(@new-color, 4.5%);
  background: @new-color;
  .gradient(@color-white, @color-stop, @color-start);
  
  .focus() {
    @color-start: lighten(@new-color, 2.5%);
    @color-stop:  darken(@new-color, 2.5%);
    .gradient(@color-white, @color-start, @color-stop);
  }
}

//// Global

// Vars

@width-all: 60em;

@color-black: #1F1F1F;
@color-black-solid: #000;
@color-white: #FFF;
@color-gray: #F3F3F3;
@color-blue: #0073CD;
@color-orange: #FF3C00;
@color-red: #EB001E;

@text-padding: 0.4em;
@padding-global: 6em;

// Styles

body {
  padding: 0 @padding-global;
  margin: 0;
  background: url("/assets/background.gif");
  font-size: @font-size;
  line-height: @line-height;
  font-family: @font-family;
  color: @color-black;
}

.wrapper {
  max-width: @width-all;
  width: 100%;
  min-width: 22.1em;
  margin: 0 auto;
}

.textarea() {
  font-family: @font-family;
  display: block;
  @top-color: darken(@color-gray, 12.5%);
  @side-color: darken(@color-gray, 8.5%);
  @bottom-color: darken(@color-gray, 5%);
  .bordered(@top-color, @side-color, @bottom-color, @side-color);
  outline: none;
  @new-color: hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.80);
  background: @color-white;
  background: @new-color;
  .rounded(0.15em);
  padding: @text-padding / 1.5 @text-padding;
  min-height: @line-height + @text-padding * 2 - 0.2em;
  .border-box;
  margin: 0;
  font-size: 100%;
  line-height: 1.6em;
}

input, textarea {
  .textarea;
  
  &:not([readonly]):hover {
    @new-color: hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.90);
    background: @color-white;
    background: @new-color;
  }
  
  &:not([readonly]):focus {
    background: @color-white;
  }
  
  &::-webkit-input-placeholder {
    .placeholder;
  }

  &:-moz-placeholder {
    .placeholder;
  }
}

header, footer, 
nav, section, 
article {  
  display:block; 
}

h1, h2, h3,
h4, h5, h6,
ul, li, em,
strong, pre,
code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

table {
  font-size: inherit;
  font: 100%;
}

ul, ol {
  
  li {
    list-style-type: none;
  }
}

ul.list {
  
  li {
    list-style-type: circle;
  }
}

ol.list {
  
  li {
    list-style-type: decimal;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.row {
  width: 100%;
  text-align: justify;
  display: block;
  line-height: 0;
  font-size: 1px;
  text-align-last: justify;
}

.row:after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.cell { 
  display: inline-block;
  text-align: left;
  vertical-align: top;
  line-height: normal;
}

.none {
  display: none!important;
}

.hidden {
  visibility: hidden!important;
}

//// Typography

// Vars

@font-size: 100%;
@line-height: 1.6em;

@font-family: 'PT Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
@font-family-narrow: 'PT Sans Narrow', Arial, 'Helvetica Neue', Helvetica, sans-serif;

// Fonts

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/jduSEW07_j4sIG_ERxiq4Q.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/Pq7I38KtY37kAe5aYFKrSA.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/UyYrYy3ltEffJV9QueSi4S4mX3cpNo8MnLri8k21-rs.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v3/Q_pTky3Sc3ubRibGToTAYigwe3ZcNEyK1ut-Sjba9Qg.woff') format('woff');
}

// Styles

h1, h2, h3,
h4, h5, h6 {
  margin-bottom: 0.4em;
}

h1 {
  font-size: 3.4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.6em;
}

h4 {
  font-size: 2.2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.4em;
}

p {
  margin: 0.6em 0 0.6em 0.2em;
}

b, strong, .bold {
  font-weight: bold;
  
  i, em, .italic {
    font-weight: bold;
    font-style: italic;
  }
}

i, em, .italic {
  font-style: italic;
  
  b, strong, .bold {
    font-style: italic;
    font-weight: bold;
  }
}

s, strike, del, .strike, .line-through {
  text-decoration: line-through;
}

.under() {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: inline-block;
  line-height: 1;
}

u, .underline {
  .under;
  border-color: lighten(@color-blue, 33%);
}

.sans {
  font-family: @font-family;
}

.narrow {
  font-family: @font-family-narrow;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

a {
  color: @color-blue;
  text-decoration: none;
  
  u, .underline {
    .under;
    border-color: lighten(@color-blue, 33%);
  }
  
  &:hover {
    color: @color-orange;
    
    u, .underline {
      border-color: lighten(@color-orange, 33%);
    }
  }
  
  &.pseudolink {
    u, .underline {
      border-bottom-style: dashed;
    }
  }
  
  &.black {
    color: @color-black;
  
    u, .underline {
      border-color: lighten(@color-black, 55%);
    }
    
    &:hover {
      color: lighten(@color-black, 25%);
      
      u, .underline {
        border-color: lighten(@color-black, 70%);
      }
    }
  }
}

//// Top Navigation

nav#top {
  @new-color: hsla(hue(@color-gray), saturation(@color-gray), lightness(@color-gray), 0.75);
  width: 100%;

  &.fixed {
    
    .pinner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background: @color-gray;
      background: @new-color;
      padding: 0 @padding-global;
      .border-box;
    }
  }
  
  ul {
    margin: 0 auto;
    top: 0;
    // /**/ white-space: nowrap;
    
    li {
      display: inline-block;
      padding: 0.4em 0;
      
      a {
        display: inline-block;
        padding: 0 0.8em;
      }
      
      &:hover {
        a:hover {
          @color-start: lighten(@color-gray, 1.5%);
          @color-stop:  darken(@color-gray, 7.5%);
          .gradient(@color-white, @color-stop, @color-start);
          .rounded(1em);
          .button;
          
          &.delogin {
            
            &:hover {
              color: @color-red;
            }
          }
        }
        
        a:active {
          text-shadow: darken(@color-orange, 7.5%) 0 0.5px 0;
          .rounded(1em);
          .button > .pressed;
        }
      }
      
      &.active, &.active:hover {
        
        a {
          @new-color: lighten(@color-blue, 20%);
          color: @color-white;
          background: @new-color;
          text-shadow: darken(@color-blue, 15%) 0 0.5px 1px;
          .rounded(1em);
          .button > .pressed;
        }
      }
    }
    
    &.float-left {
      
      li {
        margin-right: 0.4em;
        
        &.plain {
          padding-left: 0.8em;
        }        
      }
    }
    
    &.center {
      
      li {
        margin: 0 0.2em;
      }
    }
    
    &.float-right {
      
      li {
        margin-left: 0.4em;
      }
    }
  }
}

//// Logotype

.logotype {
  height: 8em; /**/
  display: block;
  position: relative;
  margin-top: 4em;
  margin-bottom: 4em;
  
  /**/ .test {
    display: block;
    font-size: 6em;
    padding: 0.45em 0;
    width: 100%;
    height: 100%;
    background: hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.05);
    .border-box;
    border: 2px dashed hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.15);
  }
}

//// Section

// Total and Sender

.sender, .total {
  left: -(@padding-global);
  padding: @text-padding @padding-global;
  position: relative;
  width: 100%;
  background: lighten(@color-blue, 20%);
  .button > .pressed;
  border-radius: 0;
  margin-bottom: 1em;
  
  .wrapper {
    width: 100%;
    
    div {
      padding: 0 @text-padding;
    }
  }
  
  input {
    font-size: 1.4em;
    width: 100%;
  }
}

.total {
  background: gold;
  margin-bottom: 0;
  
  h3 {
    .inset-text(#E6C200);
    white-space: nowrap;
    margin: @text-padding 0 0;
    
    span {
      display: inline-block;
      vertical-align: top;
      
      &.countries {
        white-space: normal;
        padding-right: 3em;
        
        .russia, .ukraine {
          display: inline-block;
          margin-bottom: 0.4em;
        }
      }
    }
  }
  
  .actions {
    text-align: center;
    
    button {
      font-size: 1.6em;
      /**/ color: @color-white;
      /**/ background: @color-blue;
      border: 0;
      margin: 0.4em 0;
      display: inline-block;
      font-family: @font-family;
      .rounded(1em);
      .button;
      .button > .size;
      
      &:active {
        .button > .pressed;
      }
    }
    
    .draft {
      margin-left: 1em;
      margin-right: 0;
      font-size: 1.4em;
      padding: 0.1em 0;
      display: inline-block;
    }
  }
}

// Article-message

@color-blue-light:   #E9EEF2;
@color-red-light:     #FFEFEB;
@color-green-light: #EEF5EB;
@color-gray-light:   #F2F2F2;

.article() {
  @top-color: lighten(@new-color, 5%);
  @side-color: darken(@new-color, 2.5%);
  @bottom-color: darken(@new-color, 7.5%);
  @color-start: lighten(@new-color, 1.5%);
  @color-stop:  darken(@new-color, 7.5%);
  .bordered(@top-color, @side-color, @bottom-color, @side-color);
  background: @color-blue-light;
  .gradient(@new-color, @color-start, @color-stop);
}

article {
  @new-color: @color-gray-light;
  margin-bottom: 1em;
  position: relative;
  padding: 0.4em;
  .rounded(0.30em);
  .article;
  
  h1 {
    position: absolute;
    color: darken(@color-gray, 7.5%);
    .inset-text(darken(@color-gray, 22.5%));

    
    &.number {
    right: 101%;
    top: 0.33em;
    
      &:after {
        content: '.';
      }
    }
    
    &.amount {
    left: 101%;
    bottom: 0em;
    
      &:before {
        content: '=';
      }
    }
  }
  
  textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: ( @line-height + @text-padding * 2 - 0.4em ) * 2;
  }
  
  .recipients {
    .textarea;
    .border-box;
    margin-top: 0.4em;
    padding-top: 0;
    padding-bottom: 0;
    .fix-spaces;
    
    .bubble, input[type=text], .placeholder {
      padding: 0 0.8em;
      display: inline-block;
      margin: 0.2em;
      line-height: 1.8em;
      min-height: 1.8em;
      max-width: 100%;
      .fix-spaces > .child;
    }
    
    .placeholder {
      padding-left: 0;
    }
    
    .bubble {
      @new-color: #F2F2F2;
      .message-status;
      
      &:not([readonly]):focus {
        .message-status > .focus;
      }

      &.phone {
        @new-color: #E1E7EB;
        .message-status;
        
        &:not([readonly]):focus {
          .message-status > .focus;
        }
      }
      
      &.contact {
        @new-color: #F8EED1;
        .message-status;
        
        &:not([readonly]):focus {
          .message-status > .focus;
        }
      }
      
      &.error {
        @new-color: #FFEDC5;
        .message-status;
        
        &:not([readonly]):focus {
          .message-status > .focus;
        }
      }
      
      &.pending {
        @new-color: #B9D6EB;
        .message-status;
        
        &:not([readonly]):focus {
          .message-status > .focus;
        }
      }
      
      &.delivered {
        @new-color: #D8E8D1;
        .message-status;
        
        &:not([readonly]):focus {
          .message-status > .focus;
        }
      }
      
      &.error {
        @new-color: #FFD0C5;
        .message-status;
        
        &:not([readonly]):focus {
          .message-status > .focus;
        }
      }
    }

    input[type=text].new {
      border: 0;
      padding: 0.1em 0;
      background: transparent;
    }
  }
  
  &.new {
    opacity: 0.44;
    
    &:hover {
      opacity: 0.66;
    }
  
    textarea {
      height: @line-height + @text-padding * 2 - 0.4em;
      resize: none;
    }
  }
  
  &.pending {
    @new-color: @color-blue-light;
    .article;
    
    h1 {
      color: darken(@new-color, 7.5%);
    }
  }
  
  &.delivered {
    @new-color: @color-green-light;
    .article;
    
    h1 {
      color: darken(@new-color, 7.5%);
    }
  }
  
  &.error {
    @new-color: @color-red-light;
    .article;
    
    h1 {
      color: darken(@new-color, 7.5%);
    }
  }
}

//// Bubbles

.bubble {
  .rounded(1em);
  .button;
  .button > .size;
  border: 0;
  position: relative;
  display: inline-block;
  
  &:not([readonly]):focus {
    .button > .pressed;
  }
}

////// Addons

//// jQueryUI

// Autocomplete

.ui-autocomplete.ui-menu {
  background: lighten(@color-gray, 1.75%);
  box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.33),
              0 1px 1px  0   rgba(0, 0, 0, 0.15);
  padding: 0.3em 0;
  .rounded(0em 0.3em 0.3em 0.3em);
  
  li {
    padding: 0.2em 0.4em;
    cursor: pointer;
    
    &:hover {
      @color-start: lighten(@color-blue, 8.5%);
      @color-stop:  darken(@color-blue, 8.5%);
      background: @color-blue;
      .gradient(@color-white, @color-stop, @color-start);
      
      a {
        color: @color-white;
      }
    }
  }
}