//// Mixins

.border-box() {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -o-linear-gradient(bottom,
                                  @start,
                                  @stop);
  
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}

.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}

.transition(@what: all, @duration:0.2s, @ease:ease-out) {
  -webkit-transition: @what @duration @ease;
  -moz-transition: @what @duration @ease;
  transition: @what @duration @ease;
}

.rounded(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.fix-spaces() {
  letter-spacing: -0.31em;
  word-spacing:   -0.43em;
  
  .child() {
    letter-spacing: normal;
    word-spacing:   normal;
  }
}

.crisp-edges() {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.clearfix {
  
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.placeholder {
  font-style: italic;
  color: darken(@color-gray, 33%);
}

.button() {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: @font-family;
  
  .shadow() {
    box-shadow: 0  1px 3px rgba(0, 0, 0, 0.15),
          inset 0 -1px 0px rgba(0, 0, 0, 0.1),
          inset 0  2px 0   rgba(255, 255, 255, 0.15),
          inset 0  1px 0   rgba(255, 255, 255, 0.45);
    
    .pressed() {
      box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.15),
                  inset 0 1px 3px rgba(0, 0, 0, 0.25),
                        0 2px 0   rgba(255, 255, 255, 0.15),
                        0 1px 0   rgba(255, 255, 255, 0.45);
    }
  }
  
  .size() {
    padding: 0 0.8em;
    min-height: 1.8em;
    line-height: 1.8em;
  }
}

.inset-text(@color-top, @color-bottom) {
    text-shadow: 0 -1px 0 @color-top,
                 0  1px 0 @color-bottom;
}

.message-status() {
  @color-start: lighten(@new-color, 4.5%);
  @color-stop:   darken(@new-color, 4.5%);
  background: @new-color;
  .gradient(@new-color, @color-stop, @color-start);
  
  &:not([readonly]):hover {
    @color-start: lighten(@new-color, 6.5%);
    @color-stop:   darken(@new-color, 7.5%);
    background: @new-color;
    .gradient(@new-color, @color-stop, @color-start);
  }
  
  .focus() {
    @color-start: lighten(@new-color, 2.5%);
    @color-stop:   darken(@new-color, 2.5%);
    background: @new-color;
    .gradient(@color-white, @color-start, @color-stop);
  }
}

//// Global

// Vars

@width-all: 60em;

@color-black: #1F1F1F;
@color-black-solid: #000;
@color-white: #FFF;
@color-gray: #F3F3F3;
@color-blue: #0073CD;
@color-green: #82E000;
@color-orange: #FF3C00;
@color-gold: #FFD700;
@color-red: #EB001E;

@text-padding: 0.4em;
@padding-global: 6em;

// Styles

*:focus {
  outline: 0;
}

body {
  padding: 0 @padding-global;
  margin: 0;
  background: url("/assets/background.gif") center center @color-gray;
  font-size: @font-size;
  line-height: @line-height;
  font-family: @font-family;
  color: @color-black;
}

.wrapper {
  max-width: @width-all;
  width: 100%;
  min-width: 22.1em;
  margin: 0 auto;
}

.textarea() {
  font-family: @font-family;
  display: block;
  @top-color: darken(@color-gray, 12.5%);
  @side-color: darken(@color-gray, 8.5%);
  @bottom-color: darken(@color-gray, 5%);
  .bordered(@top-color, @side-color, @bottom-color, @side-color);
  outline: none;
  @new-color: hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.80);
  background: @color-white;
  background: @new-color;
  .rounded(0.15em);
  padding: @text-padding / 1.5 @text-padding;
  min-height: @line-height + @text-padding * 2 - 0.2em;
  .border-box;
  margin: 0;
  font-size: 100%;
  line-height: 1.6em;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
textarea {
  .textarea;
  
  &:not([readonly]):hover {
    @new-color: hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.90);
    background: @color-white;
    background: @new-color;
  }
  
  &:not([required]):invalid {
    box-shadow: 0 0 6px 0 hsla(hue(@color-red), saturation(@color-red), lightness(@color-red), 0.50);
    border-color: @color-red;
  }
  
  &:required {
    box-shadow: none;
  }
  
  &:not([readonly]):focus {
    background: @color-white;
  }
  
  &::-webkit-input-placeholder {
    .placeholder;
  }

  &:-moz-placeholder {
    .placeholder;
  }
}

[type=number] {
  text-align: right;
}

input[type=search] {
  -webkit-appearance: none;
  width: 100%;
  //min-height: 0;
  //padding: @text-padding / 2 @text-padding;
  //margin-bottom: 0.4em;
}

textarea {
  overflow: auto;
}

button,
input[type=button],
input[type=submit] {
  .button;
  .button > .shadow;
  .rounded(1em);
  @color-start: lighten(@color-gray, 1.5%);
  @color-stop:  darken(@color-gray, 7.5%);
  .gradient(@color-gray, @color-stop, @color-start);
  font-size: @font-size;
  
  &:active {
    .button > .shadow > .pressed;
  }
}

header, footer, 
nav, section, 
article, form {  
  display:block; 
}

h1, h2, h3,
h4, h5, h6,
ul, li, em,
strong, pre,
code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

table {
  font-size: inherit;
  font: 100%;
}

ul, ol {
  
  li {
    list-style-type: none;
  }
}

ul.list {
  
  li {
    list-style-type: circle;
  }
}

ol.list {
  
  li {
    list-style-type: decimal;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.row {
  width: 100%;
  text-align: justify;
  display: block;
  line-height: 0;
  font-size: 1px;
  text-align-last: justify;
}

.row:after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.cell { 
  display: inline-block;
  text-align: left;
  vertical-align: top;
  line-height: normal;
}

.none {
  display: none!important;
}

.hidden {
  visibility: hidden!important;
}

hr {
  margin: 0.5em 0;
  height: 0;
  border-top: rgba(0, 0, 0, 0.33) 1px solid;
  border-bottom: rgba(255, 255, 255, 0.33) 1px solid;
}

//// Typography

// Vars

@font-size: 100%;
@line-height: 1.6em;

@font-family: 'PT Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;

// Fonts

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/jduSEW07_j4sIG_ERxiq4Q.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/lILlYDvubYemzYzN7GbLkBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('http://themes.googleusercontent.com/static/fonts/ptsans/v4/Pq7I38KtY37kAe5aYFKrSA.woff') format('woff');
}

// Styles

h1, h2, h3,
h4, h5, h6 {
  margin-bottom: 0.4em;
}

h1 {
  font-size: 3.4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.6em;
}

h4 {
  font-size: 2.2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.4em;
}

p {
  margin: 0.6em 0 0.6em 0.2em;
}

b, strong, .bold {
  font-weight: bold;
  
  i, em, .italic {
    font-weight: bold;
    font-style: italic;
  }
}

i, em, .italic {
  font-style: italic;
  
  b, strong, .bold {
    font-style: italic;
    font-weight: bold;
  }
}

s, strike, del, .strike, .line-through {
  text-decoration: line-through;
}

small, .small {
  font-size: 0.8em;
  line-height: 1.2em;
}

.thinsp {
  width: 0.125em;
  display: inline-block;
}

.nobr {
  white-space: nowrap;
}

.under() {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: inline-block;
  line-height: 1;
}

u, .underline {
  .under;
  border-color: lighten(@color-blue, 33%);
}

.sans {
  font-family: @font-family;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

a {
  color: @color-blue;
  text-decoration: none;
  
  u, .underline {
    .under;
    border-color: lighten(@color-blue, 33%);
  }
  
  &:hover {
    color: @color-orange;
    
    u, .underline {
      border-color: lighten(@color-orange, 33%);
    }
  }
  
  &.pseudolink {
    u, .underline {
      border-bottom-style: dashed;
    }
  }
  
  &.black {
    color: @color-black;
  
    u, .underline {
      border-color: lighten(@color-black, 55%);
    }
    
    &:hover {
      color: lighten(@color-black, 25%);
      
      u, .underline {
        border-color: lighten(@color-black, 70%);
      }
    }
  }
}

label {
  cursor: pointer;
  
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=password] {
    cursor: text;
  }
}

//// Report messages

.report {
  text-align: center;
  
  > a {
    #sender;
    display: block;
    line-height: 1.2em;
    padding: 0.4em; 
    margin: 0;
    color: @color-white;
    .transition(all, 0.225s, ease-in-out);

    &.error {
      background: darken(@color-red, 5%);
      
      &:hover {
        background: darken(@color-red, 2.5%);
      }
    }
    
    &.notice {
      @color: #596E80;
      background: @color;
      
      &:hover {
        background: lighten(@color, 2.5%);
      }
    }
  }
}

//// Top Navigation

nav#top {
  @new-color: hsla(hue(@color-gray), saturation(@color-gray), lightness(@color-gray), 0.75);
  width: 100%;

  &.fixed {
    
    .pinner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background: @color-gray;
      background: @new-color;
      padding: 0 @padding-global;
      .border-box;
    }
    
    > .report {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 20;
      
      & + .wrapper {
        
        > .topline {
          z-index: 15;
          position: relative;
        }
      }
    }
  }
  
  .report {
    
    .notice, .error {
      padding: 0.4em 6em; 
    }
  }
  
  .topline {
    
    .float-left {
      
      li {
      
        &:first-child {
          margin-left: -0.4em;
        }
      }
    }
  }
  
  .text {
    display: inline-block;
    padding: 0.4em;
  }
  
  ul {
    margin: 0 auto;
    top: 0;
    
    li {
      display: inline-block;
      padding: 0.4em 0;
      
      .buttongroup {
        display: inline-block;
        padding: 0;
        
        &:hover {
          
          a {
            @color-start: lighten(@color-gray, 1.5%);
            @color-stop:  darken(@color-gray, 7.5%);
            .gradient(@color-gray, @color-stop, @color-start);
            .button > .shadow;
          }
        }
        
        a {
          .rounded(0);
          
          &:first-child {
            .rounded(1em 0 0 1em);
            padding-right: 0.4em;
          }
          
          &:last-child, &#delogin {
            .rounded(0 1em 1em 0);
            padding-left: 0.8em;
          }
          
          &#delogin {
            display: inline-block;
            width: 1.4em;
            padding: 0;
            position: relative;
            
            &:after {
              content: "";
              display: block;
              width: 12px;
              height: 15px;
              position: absolute;
              top:     4px;
              bottom:  0;
              right:   0;
              left:   -3px;
              margin: auto;
              background: url("/assets/exit.png") 0 0 no-repeat;
            }
            
            &:hover {
              
              &:after {
                background-position: 0 -24px;
              }
            }
            
            &:active {
                
              &:after {
                background-position: 0 -60px;
              }
            }
          }
          
          &:active {
            .inset-text(hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.15), @color-white);
            .button > .shadow > .pressed;
            @color-start: darken(@color-gray, 5.5%);
            @color-stop:  darken(@color-gray, 1.5%);
            .gradient(@color-gray, @color-stop, @color-start); 
          }
        }
      }
      
      a {
        display: inline-block;
        padding: 0 0.8em;
        
        &.drop {
          
          & ~ .dropdown {
            display: none;
          }
          
          &.active {
            display: inline-block;
            @color-start: lighten(@color-orange, 1.5%);
            @color-stop:  darken(@color-orange, 7.5%);
            .gradient(@color-orange, @color-start, @color-stop);
            .inset-text(hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30), hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.66));
            position: relative;
            
            &:before, &:after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              .rounded(0.8em 0.8em 0 0);
            }
            
            &:before {
              z-index: 5;
              box-shadow: -0.5px 2px 6px  -2px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                          -1px   6px 10px -4px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                           0     0   2px  -1px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                           0     0   1px   0   hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30);
            }
            
            &:after {
              z-index: 15;
              @color-start: lighten(@color-orange, 1%);
              @color-stop:  darken(@color-orange, 7.5%);
              .gradient(@color-orange, @color-start, @color-stop);
            }
            
            u {
              position: relative;
              z-index: 20;
            }
            
            & ~ .dropdown {
              display: block;
              position: absolute;
              @color-start: lighten(@color-orange, 1.5%);
              @color-stop:   darken(@color-orange, 7.5%);
              .gradient(@color-orange, @color-stop, @color-start);
              padding: 6px;
              min-width: 100%;
              right: 0;
              z-index: 10;
              .rounded(12px 0 12px 12px);
              box-shadow: -0.5px 2px 6px  -2px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                          -1px   6px 10px -4px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                           0     0   2px  -1px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                           0     0   1px   0   hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30);
              
              .white {
                background: @color-white;
                padding: 6px;
                .rounded(6px 0 6px 6px);
                .button > .shadow;
                
                & > input[type=number] {
                  min-width: 10em;
                  width: 100%;
                  
                  &::-webkit-input-placeholder {
                    text-align: left;
                  }

                  &:-moz-placeholder {
                    text-align: left;
                  }
                }
                
                & p:first-child {
                  margin: 0 0 0.4em;
                }
                
                p.radioholder {
                  .fix-spaces;
                  margin: 0 0 0.4em;
                  
                  & > span {
                    width: 50%;
                    display: inline-block;
                    .fix-spaces > .child;
                    text-align: center;
                    .border-box;
                    
                    input[type=radio] {
                      display: none;
                    
                      & + label {
                        color: @color-blue;
                        
                        u {
                          border-bottom-style: dashed;
                        }
                        
                        &:hover {
                          color: @color-orange;
                          
                          u {
                            border-color: lighten(@color-orange, 33%);
                          }
                        }
                      }
                      
                      &:checked {
                        
                        & + label {
                          color: @color-black;
                          cursor: default;
                          
                          u {
                            border-bottom: 0;
                          }
                        }
                      }
                    }
                  }
                }
                
                button {
                  padding: 0.2em 0.8em;
                  display: block;
                  margin: 0.25em auto 0;
                  
                  &:hover {
                    box-shadow:       0  2px 4px rgba(0, 0, 0, 0.15),
                                      0  1px 2px rgba(0, 0, 0, 0.15),
                                inset 0  2px 0   rgba(255, 255, 255, 0.15),
                                inset 0  1px 0   rgba(255, 255, 255, 0.45);
                  }
                  
                  &:active {
                    .button > .shadow > .pressed;
                  }
                }
                
                .total {
                  #total;
                  padding: 6px;
                  left: -6px;
                  margin-bottom: 0;
                  
                  @color-gold-light: lighten(@color-gold, 20%);
                  @color-gold-dark:  darken(@color-gold, 33%);
                  
                  & > p {
                    .nobr;
                    font-size: 1.2em;
                    margin: 0;
                    text-shadow: 0 -1px 0 lighten(@color-gold-dark, 15%),
                                 0  1px 0 lighten(@color-gold-light, 5%);
                  }
                  
                  hr {
                    width: 100%;
                    margin-left: 0;
                    margin: 0.25em 0;
                  }
                  
                  & > button {
                    font-size: 1.2em;
                    white-space: nowrap;
                    color: @color-white;
                    @color-start: lighten(@color-orange, 1.5%);
                    @color-stop:   darken(@color-orange, 7.5%);
                    .gradient(@color-orange, @color-stop, @color-start);
                    @color-inset-top:     darken(@color-orange, 22%);
                    @color-inset-bottom: lighten(@color-orange, 22%);
                    .inset-text(@color-inset-top, @color-inset-bottom);
                    
                    &:hover {
                      @color-start: lighten(@color-orange, 7.5%);
                      @color-stop:   darken(@color-orange, 10%);
                      .gradient(@color-orange, @color-stop, @color-start);
                    }
                    
                    &:active {
                      @color-inset-top:   lighten(@color-orange, 22%);
                      @color-inset-bottom: darken(@color-orange, 22%);
                      .inset-text(@color-inset-top, @color-inset-bottom);
                      @color-start: darken(@color-orange, 3%);
                      @color-stop:  darken(@color-orange, 10%);
                      .gradient(@color-orange, @color-start, @color-stop);
                    }
                  }
                }
                
                .report {
                  
                  > a {
                    #sender;
                    margin: 0;
                    position: static;
                    padding: 0.4em 6px;
                    margin-left: -6px;
                    .rounded(0);
                    
                    &.error {
                      background: darken(@color-red, 5%);
                      
                      &:hover {
                        background: darken(@color-red, 2.5%);
                      }
                    }
                    
                    &.notice {
                      @color: #596E80;
                      background: @color;
                      
                      &:hover {
                        background: lighten(@color, 2.5%);
                      }
                    }
                    
                    &:active {
                      text-shadow: none;
                    }
                  }
                }
                
                & > p {
                  margin: 0.2em 0 0.4em;
                }
                
                p.footer,
                p.forgot {
                  margin-bottom: 0;
                  margin-top: 0.2em;
                  opacity: 0.5;
                  line-height: 1.6em;
                  .transition(opacity, 0.5s, ease);
                  
                  &:hover {
                    opacity: 1;
                  }
                  
                  a {
                    background: transparent;
                    padding: 0;
                    box-shadow: none;
                  }
                }
                
                p.forgot {
                  margin: -0.2em 0 0.4em;
                }
              }
            }
          }
          
          &#profile, &#login, &#register {
            
            & ~ .dropdown {
              min-width: 100%;
              
              .white {
                padding-bottom: 0;
              }
              
              p.total {
                .rounded(0 0 6px 6px);
              }
              
              input[type=text],
              input[type=email],
              input[type=password] {
                width: 100%;
                min-width: 10em;
              }
            }
          }
          
          &#profile {
            
            &.active {
              .rounded(0.8em 0 0 0);
              
              &:before, &:after {
                .rounded(0.8em 0 0 0);
              }
              
              &:hover {
                .rounded(0.8em 0 0 0);
                
                & ~ .dropdown {
                  right: 1.4em;
                  min-width: -webkit-calc(~"100% - 1.4em");
                  min-width: -moz-calc(~"100% - 1.4em");
                  min-width: calc(~"100% - 1.4em");
                  
                  .white {
                    padding-bottom: 0;
                  }
                  
                  p.total {
                    .rounded(0 0 6px 6px);
                  }
                }
                
                &:before, &:after {
                  .rounded(0.8em 0 0 0);
                }
              }
              
              + a {
                .rounded(0 1em 1em 0);
                color: @color-white;
                @color-start: lighten(@color-orange, 1.5%);
                @color-stop:  darken(@color-orange, 7.5%);
                .gradient(@color-orange, @color-start, @color-stop);
                .inset-text(hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30), hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.66));
                box-shadow: -0.5px 2px 6px  -2px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                            -1px   6px 10px -4px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                             0     0   2px  -1px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                             0     0   1px   0   hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30);
                
                &:after {
                  background-position: 0 -86px;
                }
                
                &:hover {
                  @color-start: lighten(@color-red, 1.5%);
                  @color-stop:  darken(@color-red, 7.5%);
                  .gradient(@color-red, @color-start, @color-stop);
                }
                
                &:active {
                  box-shadow: inset  1px   0   6px       hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.25),
                              inset  1px   0   2px       hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.25),
                                    -0.5px 2px 6px  -2px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                                    -1px   6px 10px -4px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                                     0     0   2px  -1px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
                                     0     0   1px   0   hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30);
                }
              }
              
              & ~ .dropdown {
                right: 1.4em;
                min-width: -webkit-calc(~"100% - 1.4em");
                min-width: -moz-calc(~"100% - 1.4em");
                min-width: calc(~"100% - 1.4em");
              }
            }
          }
        }
        
        &:hover {
          @color-start: lighten(@color-gray, 1.5%);
          @color-stop:  darken(@color-gray, 7.5%);
          .gradient(@color-gray, @color-stop, @color-start);
          .rounded(1em);
          .button > .shadow;
        }
        
        &:active {
          .inset-text(hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.15), @color-white);
          .rounded(1em);
          .button > .shadow > .pressed;
          @color-start: darken(@color-gray, 5.5%);
          @color-stop:  darken(@color-gray, 1.5%);
          .gradient(@color-gray, @color-stop, @color-start);
        }
        
        &.active, &.active:hover {
          @new-color: lighten(@color-blue, 20%);
          color: @color-white;
          background: @new-color;
          .inset-text(hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30), hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.66));
          .rounded(1em);
          .button > .shadow > .pressed;
          
          u {
            border-bottom-style: none;
          }
          
          &#toggleContacts {
            background: transparent;
            
            u {
              border-bottom-style: dashed;
            }
            
            &.active {
              color: @color-blue;
              .inset-text(hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.15), @color-white);
              
              &:hover {
                color: @color-orange;
                @color-start: lighten(@color-gray, 0.75%);
                @color-stop:  darken(@color-gray, 3.25%);
                .gradient(@color-gray, @color-start, @color-stop);
                
                &:active {
                  @color-start: lighten(@color-gray, 0.75%);
                  @color-stop:  darken(@color-gray, 3.25%);
                  .gradient(@color-gray, @color-stop, @color-start);
                  .button > .shadow;
                  text-shadow: none;
                }
              }
            }
          }
        }
      }
    }
    
    &.float-left {
     
      li {
        margin-right: 0.4em;
      }
    }
    
    &.float-right {
      margin-right: -0.4em;
      
      li {
        margin-left: 0.4em;
        position: relative;
      }
      
      .country {
        .nobr;
        
        &:before {
          content: "";
          display: inline-block;
          width: 18px;
          height: 12px;
          vertical-align: baseline;
          background: @color-gray;
          @top-color:    darken(@color-gray, 5%);
          @side-color:   darken(@color-gray, 8.5%);
          @bottom-color: darken(@color-gray, 12%);
          .bordered(@top-color, @side-color, @bottom-color, @side-color);
          margin: 0 0.2em -1px;
          .crisp-edges();
          box-shadow: 0   0   1px      rgba(0, 0, 0, 0.125),
                      0   2px 2px -1px rgba(0, 0, 0, 0.125),
               inset  0   1px 0    0px rgba(255, 255, 255, 0.2),
               inset  1px 0   0    0px rgba(255, 255, 255, 0.2),
               inset -1px 0   0    0px rgba(255, 255, 255, 0.2);
        }
        
        &.russia {
          
          &:before {
            background-image: url("/assets/russia-flag.gif");
          }
        }
        
        &.ukraine {
          
          &:before {
            background-image: url("/assets/ukraine-flag.gif");
          }
        }
      }
    }
  }
}

//// Logotype

#logotype {
  height: 8em;
  display: block;
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  .wrapper;
  .text-center;
  
  h1 {
    font-size: 6.6em;
    margin: 0;
    @color-gold-light: desaturate(lighten(@color-gold, 40%), 15%);
    @color-gold-dark:  desaturate(darken(@color-gold,   5%), 45%);
    
    span, a {
      color: @color-gold;
      letter-spacing: -0.028em;
      line-height: 1;
      text-shadow: 0 -1px 0   lighten(@color-gold-dark,  5%),
                   0  2px 0   @color-gold-light,
                   0  1px 0   lighten(@color-gold-light, 5%),
                   0  0   2px @color-gold,
                   0  0  10px hsla(hue(@color-gold), saturation(@color-gold), lightness(@color-gold), 0.30);
    }
    
    a {
      .transition(all, 0.225s, ease);
    }
    
    a:hover {
      @color-gold: #FFDE21;
      color: @color-gold;
      text-shadow: 0 -1px 0   lighten(@color-gold-dark,  15%),
                   0  2px 0    darken(@color-gold-light, 5%),
                   0  1px 0   lighten(@color-gold-light, 0%),
                   0  0   3px @color-gold,
                   0  0  14px hsla(hue(@color-gold), saturation(@color-gold), lightness(@color-gold), 0.40);
    }
  }
}

//// Section

// Total and Sender

#sender, #total, #search {
  left: -(@padding-global);
  padding: @text-padding @padding-global;
  position: relative;
  width: 100%;
  .button > .shadow > .pressed;
  border-radius: 0;
  margin-bottom: 1em;
  
  .wrapper {
    width: 100%;
    
    div {
      padding: 0 @text-padding;
    }
  }
}

#sender, #search {
  background: #E1E7EB;
  
  &.set {
    background: lighten(@color-green, 25%);
  }
  
  &.error {
    background: lighten(@color-red, 20%);
  }
  
  input {
    font-size: 1.4em;
    width: 100%;
  }
}

#total {
  background: @color-gold;
  margin-bottom: 0;
  overflow: hidden;
  margin-bottom: 1em;
  @color-gold-light: lighten(@color-gold, 20%);
  @color-gold-dark:   darken(@color-gold, 33%);
  
  h3 {
    text-shadow: 0 -1px 0 lighten(@color-gold-dark,  5%),
                 0  2px 0 @color-gold-light,
                 0  1px 0 lighten(@color-gold-light, 5%);
    white-space: nowrap;
    margin: @text-padding - 0.2 0 @text-padding 0;
    line-height: 1.2em;
    
    span {
      display: inline-block;
      vertical-align: top;
      
      &.countries {
        white-space: normal;
        padding-right: 3em;
        
        .russia, .ukraine {
          display: inline-block;
          .nobr;
        }
      }
    }
  }
  
  p.info {
    margin-left: 0;
    margin-top: -1em;
  }
  
  hr {
    width: 105%;
    margin-left: -2.5%;
    border-top-color:    @color-gold-dark;
    border-bottom-color: @color-gold-light;
  }
  
  .actions {
    text-align: center;
    
    button {
      font-size: 1.6em;
      color: @color-white;
      @color-start: lighten(@color-blue, 10%);
      @color-stop:  darken(@color-blue, 10%);
      .gradient(#0064C8, @color-stop, @color-start);
      .button;
      margin: 0.4em 0;
      @color-inset-top:  darken(@color-blue, 22%);
      @color-inset-bottom: lighten(@color-blue, 22%);
      .inset-text(@color-inset-top, @color-inset-bottom);
      .rounded(1em);
      box-shadow: 0  2px 6px rgba(0, 0, 0, 0.15),
                  0  1px 3px rgba(0, 0, 0, 0.15),
                  0  1px 1px rgba(0, 0, 0, 0.15),
            inset 0 -1px 0   rgba(0, 0, 0, 0.1),
            inset 0  4px 0   rgba(255, 255, 255, 0.15),
            inset 0  2px 0   rgba(255, 255, 255, 0.45);
      .button > .size;
      
      &[disabled] {
        cursor: default;
        cursor: not-allowed;
        @color-start: desaturate(lighten(@color-blue, 20%), 40%);
        @color-stop:  @color-start;
        .gradient(@color-start, @color-stop, @color-start);
        @color-inset-top:    @color-start;
        @color-inset-bottom: @color-start;
        .inset-text(@color-inset-top, @color-inset-bottom);
        box-shadow: inset 0  1px 3px rgba(0, 0, 0, 0.075),
                    inset 0  1px 2px rgba(0, 0, 0, 0.075),
                    inset 0  1px 1px rgba(0, 0, 0, 0.075),
                          0 -1px 0   rgba(0, 0, 0, 0.05),
                          0  4px 0   rgba(255, 255, 255, 0.075),
                          0  2px 0   rgba(255, 255, 255, 0.2);
      }
      
      &:not([disabled]):hover {
        @color-start: lighten(@color-blue, 25%);
        @color-stop:  darken(@color-blue, 15%);
        .gradient(#2378B9, @color-stop, @color-start);
        box-shadow: 0  3px 9px rgba(0, 0, 0, 0.20),
                    0  2px 4px rgba(0, 0, 0, 0.20),
                    0  1px 1px rgba(0, 0, 0, 0.20),
              inset 0 -1px 0   rgba(0, 0, 0, 0.1),
              inset 0  4px 0   rgba(255, 255, 255, 0.15),
              inset 0  2px 0   rgba(255, 255, 255, 0.45);
      }
      
      &:not([disabled]):active {
        @color-start: lighten(@color-blue, 10%);
        @color-stop:  darken(@color-blue, 10%);
        .gradient(#2873B9, @color-start, @color-stop);
        @color-inset-top: lighten(@color-blue, 22%);
        @color-inset-bottom:  darken(@color-blue, 22%);
        .inset-text(@color-inset-top, @color-inset-bottom);
        box-shadow: inset 0  2px 6px rgba(0, 0, 0, 0.15),
                    inset 0  1px 3px rgba(0, 0, 0, 0.15),
                    inset 0  1px 1px rgba(0, 0, 0, 0.15),
                          0 -1px 0   rgba(0, 0, 0, 0.1),
                          0  4px 0   rgba(255, 255, 255, 0.15),
                          0  2px 0   rgba(255, 255, 255, 0.45);
      }
    }

    .draft {
      margin-right: 0;
      font-size: 1.4em;
      padding: 0.1em 0;
      display: inline-block;
      margin-top: 0.9em;
      position: absolute;
      margin-left: 4.4em;
      left: 50%;
    }
  }
}

// Article-message

@color-blue-light:   #E6EDF2;
@color-red-light:     #FFEFEB;
@color-green-light: #DDF7D2;
@color-gray-light:   #F2F2F2;

.article() {
  @top-color: lighten(@new-color, 5%);
  @side-color: darken(@new-color, 2.5%);
  @bottom-color: darken(@new-color, 7.5%);
  @color-start: lighten(@new-color, 1.5%);
  @color-stop:  darken(@new-color, 7.5%);
  .bordered(@top-color, @side-color, @bottom-color, @side-color);
  .gradient(@color-blue-light, @color-start, @color-stop);
}

//// Bubbles

.bubble, .bubble[type=text] {
  .rounded(1em);
  .button > .shadow;
  .button > .size;
  border: 0;
  position: relative;
  cursor: pointer;
  display: block;
  line-height: 1em;
  .transition(width, 0.125s, ease-out);
  @new-color: #F2F2F2;
  .message-status;
  
  &[readonly] {
    cursor: text;
  }
  
  &:not([readonly]):focus {
    .button > .shadow > .pressed;
    .message-status > .focus;
    cursor: text;
  }
  
  &.phone {
    @new-color: #E1E7EB;
    .message-status;
    
    &:not([readonly]):focus {
      .message-status > .focus;
    }
  }
  
  &.contact {
    @new-color: #F8EED1;
    .message-status;
    
    &:not([readonly]):focus {
      .message-status > .focus;
    }
  }
  
  &.failed {
    @new-color: desaturate(darken(@color-red-light, 4.5%), 15%);
    .message-status;
    
    &:not([readonly]):focus {
      .message-status > .focus;
    }
  }

  &.pending {
    @new-color: #C3D7E6;
    .message-status;
    
    &:not([readonly]):focus {
      .message-status > .focus;
    }
  }
  
  &.delivered {
    @new-color: desaturate(darken(@color-green-light, 2.5%), 20%);
    .message-status;
    
    &:not([readonly]):focus {
      .message-status > .focus;
    }
  }
}

@-webkit-keyframes animate-stripes {
  
  from {
    background-position: 0 0;
  }

  to {
    background-position: 44px 0;
  }
}

@-moz-keyframes animate-stripes {
  
  from {
    background-position: 0 0;
  }

  to {
    background-position: 36px 0;
  }
}

article {
  @new-color: @color-gray-light;
  margin-bottom: 1em;
  position: relative;
  padding: 0.4em;
  .rounded(0.30em);
  .article;
  
  h1 {
    position: absolute;
    color: darken(@color-gray, 7.5%);
    .inset-text(darken(@color-gray, 22.5%), @color-white);

    
    &.number {
    right: 101%;
    top: 0.33em;
    
      &:after {
        content: '.';
      }
    }
    
    &.amount {
    left: 101%;
    bottom: 0em;
    
      &:before {
        content: '=';
      }
    }
  }
  
  textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: ( @line-height + @text-padding * 2 - 0.4em ) * 2;
  }
  
  .recipients {
    .textarea;
    .border-box;
    margin-top: 0.4em;
    padding: 0 0.2em 0;
    cursor: text;
    .fix-spaces;
    .clearfix;
    position: relative;
    
    &.readonly {
      cursor: default;
    }
    
    .bubble, input[type=text],
    input[type=text].new  + span.new,
    div.file {
      padding: 0 0.8em;
      display: block;
      float: left;
      margin: 0.2em;
      line-height: 1em;
      min-height: 1.8em;
      max-width: 100%;
      width: 0;
      .fix-spaces > .child;
    }

    input[type=text].new,
    input[type=text].new,
    div.file {
      border: 0;
      padding: 0.1em 0;
      background: transparent;
      
      &[placeholder] {
        width: 100%;
        
        & + span.new {
          display: block;
        }
      }
    
      & + span.new,
      span.actions {
        .fix-spaces > .child;
        white-space: nowrap;
        position: absolute;
        right: 0.2em;
        padding-right: 0.2em;
        top:   0;
        width: auto;
        display: none;
        
        > a {
          line-height: 1.6em;
          font-style: italic;
          display: block;
        }
        
        > input[type=file] {
          visibility: hidden;
          width: 1px;
          height: 1px;
          position: absolute;
        }
      }
    }
    
    input[type=text].bubble {
      
      & + span.new {
        display: none;
      }
    }
    
    div.file {
      .fix-spaces > .child;
      width: 100%;
      line-height: 1.6em;
      #total;
      padding: 0.2em;
      .button > .shadow;
      margin:  0;
      left:   -0.2em;
      background: @color-gray;
      
      &.loading {
        text-align: center;
        .inset-text(hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30), hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.66));
        -webkit-background-size: 44px 44px;
        -moz-background-size: 36px 36px;
        background-color: darken(@color-gray, 10%);
        background: -webkit-gradient(linear, 0 0, 44 44,
                        color-stop(0,    rgba(255, 255, 255, 0.17)),
                        color-stop(0.25, rgba(255, 255, 255, 0.17)),
                        color-stop(0.26, rgba(255, 255, 255, 0)),
                        color-stop(0.5,  rgba(255, 255, 255, 0)),
                        color-stop(0.51, rgba(255, 255, 255, 0.17)),
                        color-stop(0.75, rgba(255, 255, 255, 0.17)),
                        color-stop(0.76, rgba(255, 255, 255, 0)),
                        color-stop(1, rgba(255, 255, 255, 0))),
                     -webkit-gradient(linear, left bottom, left top,
                        color-stop(0, rgba(255, 255, 255, 0)),
                        color-stop(1, rgba(255, 255, 255, 0.35))),
                        darken(@color-gray, 10%);
        background: -moz-repeating-linear-gradient(
                     top left -34.3deg, rgba(255, 255, 255, 0.17),
                                      rgba(255, 255, 255, 0.17) 15px,
                                      rgba(255, 255, 255, 0) 15px,
                                      rgba(255, 255, 255, 0) 30px),
                    -moz-linear-gradient(
                                      rgba(255, 255, 255, 0.25) 0%,
                                      rgba(255, 255, 255, 0) 100%),
                                      darken(@color-gray, 10%);
        -webkit-animation: animate-stripes 2s linear infinite;
         -khtml-animation: animate-stripes 2s linear infinite;
           -moz-animation: animate-stripes 2s linear infinite;
            -ms-animation: animate-stripes 2s linear infinite;
             -o-animation: animate-stripes 2s linear infinite;
                animation: animate-stripes 2s linear infinite;
        
        p {
          .italic;
          display: block;
        }
      }
      
      > p, > .pseudolink, span.actions, .inside p span, .inside .load {
        display: table-cell;
        position: static;
      }
      
      > .pseudolink,
        .actions,
        .load {
        padding-left:  0.4em;
        padding-right: 0.4em;
        .italic;
        white-space: nowrap;
        
        .pseudolink, .load {
          display: inline;
        }
      }
      
      .inside {
        display: none;
      }
      
      &.active {
        .button > .shadow > .pressed;
        
        .inside {
          display: block;
          border-top: 1px solid darken(@color-gray, 15%);
        //padding-top: 0.25em;
          margin-top:  0.25em;
          
          p {
            margin: 0.25em 0;
            padding-left: 0.25em;
            
            &:first-child {
              border-top: 1px solid @color-white;
              margin-top:  0;
              padding-top: 0.25em;
            }
            
            > span {
              width: 100%;
            }
          }
        }
      }
      
      > p {
        padding: 0 0.2em;
        margin: 0;
        line-height: 1.8em;
        width: 100%;
      }
      
      
    }
  }
  
  &.new {
    opacity: 0.44;
    
    &:hover {
      opacity: 0.66;
    }
  
    textarea {
      height: @line-height + @text-padding * 2 - 0.4em;
      resize: none;
    }
  }
  
  &.pending {
    @new-color: @color-blue-light;
    .article;
    
    h1 {
      color: darken(@new-color, 7.5%);
    }
  }
  
  &.delivered {
    @new-color: @color-green-light;
    .article;
    
    h1 {
      color: darken(@new-color, 7.5%);
    }
  }
  
  &.failed {
    @new-color: @color-red-light;
    .article;
    
    h1 {
      color: darken(@new-color, 7.5%);
    }
  }
}

section#mailings,
section#users {
  //white-space: nowrap;
  .fix-spaces;

  > h1 {
    color: darken(@color-gray, 7.5%);
    .inset-text(darken(@color-gray, 22.5%), @color-white);
    text-align: center;
    width: 85%;
    margin: 0.5em auto 0.25em;
    line-height: 1em;
    .fix-spaces > .child;
    
    & + p {
      text-align: center;
      width: 85%;
      margin: 0 auto;
      margin-bottom: 2em;
      .fix-spaces > .child;
      
      a {
        display: inline;
        width: auto;
        vertical-align: baseline;
        margin-right: 0;
        box-shadow: none;
        .transition(none);
        
        &:hover {
          -webkit-transform: none;
             -moz-transform: none;
              -ms-transform: none;
               -o-transform: none;
                  transform: none; 
        }
      }
    }
  }
  
  a {
    .fix-spaces > .child;
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin-right: 2%;
    margin-bottom: 3em;
    position: relative;
    .transition(all, 0.25s, ease-out);
    box-shadow: 0 4px 12px -6px @color-black,
                0 0    4px -3px @color-black;
                
    &:hover {
      -webkit-transform: scale(1.05);
         -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
           -o-transform: scale(1.05);
              transform: scale(1.05); 
    }
	
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    
    p {
      margin-left: 0;
      padding: 0 1em;
      width: 100%;
      .border-box;
      margin: 0;
    }
    
    .mini() {
      padding: 0.5em 1em;
      left: 0;
      margin-bottom: 0;
      color: @color-black;
      white-space: normal;
    }
    
    .name, .delivered,
    .pending, .failed {
      #sender;
      .mini;
    }
    
    .name.manager,
    .name.set {
      background: lighten(@color-green, 10%);
    }
    
    .delivered,
    .pending, .failed {
      padding: 0.25em 1em;
    }
    
    .info {
      border: 3px @color-white;
      border-top-style:    dashed;
      border-bottom-style: dashed;
    
      .delivered  {
        background: saturate(darken(@color-green-light, 15%), 5%);
        .transition(background, 1s, ease-out);
        
        .added {
          background: saturate(darken(@color-green-light, 10%), 15%);
        }
      }
      
      .pending {
        background: saturate(darken(@color-blue-light, 15%), 5%);
        .transition(background, 1s, ease-out);
        
        .added {
          background: saturate(darken(@color-blue-light, 10%), 15%);
        }
      }
      
      .failed {
        background: darken(@color-red-light, 20%);
        
        .added {
          background: saturate(darken(@color-red-light, 15%), 10%);
        }
      }
    }
    
    .total {
      #total;
      .mini;
      padding: 0;
      
      h3 {
        font-size: 1em;
        padding: 0.5em 1em;
        text-shadow: none;
        width: 100%;
        .border-box;
        margin: 0.25em 0;
        
        span {
          white-space: normal;
          
          &.countries {
            margin-left: -3.2em;
            padding: 0;
            padding-left: 3.2em;
            width: 100%;
            .border-box;
            
            .russia, .ukraine {
              width: 100%;
              white-space: normal;
            }
          }
        }
      }
    }
    
    .date {
      position: absolute;
      left: 0;
      bottom: -2em;
      text-align: center;
      width: 100%;
      color: darken(@color-gray, 33%);
      .transition(all, 0.25s, ease-out);
    }
    
    &:hover {
      
      .date {
        -webkit-transform: scale(0.95);
           -moz-transform: scale(0.95);
            -ms-transform: scale(0.95);
             -o-transform: scale(0.95);
                transform: scale(0.95); 
      }
    }
  }
}

section#users {
  
  a {
  
    .info {
      border-bottom: none;
    }
  }
}

#contacts {
  position: fixed;
  top:  0.4em;
  left: 1em;
  width: 15em;
  @color-start: lighten(@color-blue, 1.5%);
  @color-stop:   darken(@color-blue, 7.5%);
  .gradient(@color-orange, @color-stop, @color-start);
  padding: 6px;
  z-index: 50;
  .rounded(12px);
  box-shadow: 0 2px 6px  -2px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
              0 6px 10px -4px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
              0 0   2px  -1px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30),
              0 0   1px   0   hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.30);
  
  &.dragging {
    opacity: 0.65;
    box-shadow: 0 3px 9px  -2px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.45),
                0 6px 12px -4px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.45),
                0 0   3px  -1px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.45),
                0 0   1px   0   hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.45);
  }
  
  > div {
    position: relative;
    overflow: hidden;
    
    > p {
      margin: 0;
      line-height: 1em;
      padding: 6px 6px 9px;
      color: @color-white;
      @color-inset-top:  darken(@color-blue, 22%);
      @color-inset-bottom: lighten(@color-blue, 22%);
      .inset-text(@color-inset-top, @color-inset-bottom);
    }
    
    .close {
      background: url("/assets/close.png") no-repeat center center;
      display: block;
      width:  0.8em;
      height: 0.8em;
      text-align: center;
      font-size: 2em;
      position: absolute;
      right: 0;
      top:   0;
      border: 3px solid @color-white;
      .border-box;
      .rounded(1em);
      
      &:hover {
        border: 4px solid @color-white;
      }
    }
  }

  .white {
    background: @color-white;
    padding: 6px 6px 0;
    .rounded(6px);
    .button > .shadow;
    overflow: hidden;
    overflow-y: auto;
    
    .pinner {
      width: 15em;
      .rounded(6px 6px 0 0);
      position: absolute;
      z-index: 10;
      padding: 0.4em;
      margin: -0.4em;
      top: 2.35em;
      left: 0.4em;
      .border-box;
      background: @color-white;
      
      input[type=search] {
        margin-bottom: 0;
      }
    }
    
    .file, .add {
      padding-top: 2.6em;
    
      span {
        position: relative;
        display: block;
        width: 100%;
        
        &:hover {
          
          input[type=text] {
            padding-right: 30px;
          }
        }
        
        input[type=text] {
          margin-top: 0.2em;
          width: 100%;
          
          & + .edit {
            display: inline-block;
            position: absolute;
            z-index: 5;
            right: 4px;
            top:   1px;
            width:  26px;
            height: 26px;
            background:  url("/assets/pencil.png") no-repeat top center;
            display: none;
            
            &:hover {
              display: block;
              background-position: bottom center;
            }
          }
          
          &:hover {
            
            & + .edit {
              display: block;
            }
            
            &:focus {
              
              & + .edit {
                display: none;
              }
            }
          }
        }
      }
    }
    
    .add {
      padding-top: 0;
      padding-bottom: 0.4em;
    }
    
    &.scroll {
      
      .pinner {
        width: 13.95em;
        background: hsla(hue(@color-white), saturation(@color-white), lightness(@color-white), 0.75);
        box-shadow: 0 2px  4px -2px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.05),
                    0 1px  2px  0px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.05),
                    0 2px 12px -6px hsla(hue(@color-black), saturation(@color-black), lightness(@color-black), 0.25);
      }
    }
  }
}

footer {

  div {
    padding: 0 @text-padding;
  }
  
  padding: 0.5em 0 0.5em;
  opacity: 0.5;
  .transition(opacity, 0.5s, ease);
  
  &:hover {
    opacity: 1;
  }

  ul, p {
    margin: 0.5em 0 0.5em;
    font-size: 0.8em;
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 0.19em + 0.5;
    }
  }
}

//// Условия

// IE8

html#ie8 nav#top ul li a.active#buy-more + .dropdown .white
> p:first-child > span,
html#ie8 nav#top ul li a.active:hover#buy-more + .dropdown .white
> p:first-child > span {
  white-space: nowrap;
  text-align: left;
  
  input[type=radio] {
    display: inline;
    margin-left: 0;

    & + label {

      u {
        border-bottom-style: none;
        text-decoration: none;
      }
    }
  }
}

//// Главная

#main {
  @padding: 92px;
  
  #logotype {
    height: 10em;
    margin-top: 12.5%;
    
    h1 {
      font-size: 10em;
    }
  }
  
  article {
    background: transparent;
    border-color: transparent;
    position: relative;
    margin-bottom: 80px;
    
    h1, h2, h3,
    h4, h5, h6 {
      line-height: 1.33333333em;
    }
    
    h1 {
      line-height: 1;
      position: static;
      font-size: 2.6em;
      display: block;
      padding-left: @padding;
      padding-top: @padding / 2;
      color: @color-black;
    }
  }
  
  .columns {
    padding: 0 @padding;
    .fix-spaces;
    
    .column {
      .fix-spaces > .child;
      display: inline-block;
      width: 50%;
      .border-box;
      vertical-align: top;
      
      &:first-child {
        padding-right: 1em;
      }
      
      &:last-child {
        padding-left:  1em;
      }
    }
  }
}

#sent {
  text-align: center;
  margin-bottom: 80px;
  
  .number {
  
    > span {
      display: inline-block;
      color: @color-white;
      font-size: 2em;
      background: @color-red;
      padding: 0.5em;
      @color-inset-top:  darken(@color-red, 22%);
      @color-inset-bottom: lighten(@color-red, 44%);
      .inset-text(@color-inset-top, @color-inset-bottom);
      .rounded(9999999px);
      box-shadow: 0   4px 12px rgba(0, 0, 0, 0.3),
                  0  12px 24px rgba(0, 0, 0, 0.1),
            inset 0  -2px 0px  rgba(0, 0, 0, 0.1),
            inset 0   4px 0    rgba(255, 255, 255, 0.15),
            inset 0   4px 12px rgba(255, 255, 255, 0.3),
            inset 0   2px 0    rgba(255, 255, 255, 0.45);
    }
    
    p {
      width: 200px;
      margin: 0 auto;
    }
  }
}

// Медиа Кверис

@media screen and (max-width: 960px) and (min-width: 681px) {
  
  #total .actions {

    .draft {
      margin: 0;
      margin-left: 0.7em;
      position: static;
    }
  }
}

@media screen and (max-width: 680px) {
  
  #total .actions {
    text-align: center;
    
    .draft {
      position: static;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0.4em;
    }
  }
}