<p>
  Здесь представлены наиболее часто задаваемые вопросы по сервису.
  <br>
  Внимательно прочтите их прежде, чем обращаться в службу поддержки.
</p>

<ol class="questions">
  <li><a href="#a93">С какими операторами вы работаете</a></li>
  <li><a href="#a89">Почему я посылаю одно сообщение, а со счета списывается сумма как за два</a></li>
  <li><a href="#a90">Какова максимальная длина отправляемых сообщений</a></li>
  <li><a href="#a94">Могу ли я организовать рассылку SMS со своего сайта</a></li>
  <li><a href="#a87">Возможно ли задать свое имя или номер в качестве отправителя SMS-сообщений</a></li>
  <li><a href="#a88">Какие существуют ограничения на использование Sender ID</a></li>
  <li><a href="#a91">Как я смогу узнать, что отправленное сообщение было успешно доставлено</a></li>
  <li><a href="#a92">Могу ли я отправлять сообщения на короткие номера</a></li>
  <li><a href="#a86">Почему время отправки не совпадает со временем, указанным в полученном SMS</a></li>
  <!-- <li><a href="#a95">Почему мое сообщение не отправилось и имеет статус "Запрещено"</a></li> -->
  <li><a href="#a97">Какие правила существуют в отношении массовых рекламных рассылок</a></li>
  <li><a href="#a98">Что означает статус "Невозможно доставить" и почему за такое SMS списываются деньги</a></li>
  <li><a href="#a99">Почему при отправке SMS-сообщения через API возвращается ошибка "IP-адрес заблокирован"</a></li>
  <!-- <li><a href="#a100">Как заключить письменный договор на услуги рассылки SMS-сообщений</a></li> -->
  <li><a href="#a101">Почему моя рассылка имеет статус "На модерации"</a></li>
  <li><a href="#a102">Гарантируете ли вы сохранность и конфиденциальность данных, используемых при рассылке SMS</a></li>
  <li><a href="#a103">Что такое функция email2sms и как она работает</a></li>
  <li><a href="#a104">Как получать ответы на отправленные SMS-сообщения</a></li>
  <!-- <li><a href="#a105">Возможно ли принимать входящие SMS-сообщения через ваш сервис</a></li> -->
  <!-- <li><a href="#a106">Что такое HLR и для чего используются HLR-запросы</a></li> -->
  <li><a href="#a107">Почему я выключил телефон, а HLR-запрос возвращает статус "доступен"</a></li>
  <li><a href="#a108">Что такое ping-SMS и для чего они используются</a></li>
  <li><a href="#a109">Почему я отправляю сообщение от своего имени отправителя, а приходит от другого</a></li>
  <li><a href="#a110">Почему некоторые другие сервисы могут предложить цены ниже, чем у Вас</a></li>
  <li><a href="#a111">Почему я отправил одно SMS-сообщение, а абоненту пришло несколько</a></li>
</ol>

<dl>
  <dt>
    <a name="a93"></a><b>С какими операторами вы работаете?</b>
  </dt>
  <dd>
    <blockquote>Мы работаем с большинством операторов, которые поддерживают обмен SMS на территории России, СНГ и дальнего зарубежья. Для точной проверки возможности доставки сообщений вашему оператору отправьте бесплатное тестовое сообщение с нашего сайта.<br><br>Кроме этого мы постоянно анализируем недоставленные сообщения и подключаем дополнительные каналы передачи SMS для неработающих стран и операторов.
    </blockquote>
  </dd>

  <dt><a name="a89"></a><b>Почему я посылаю одно сообщение, а со счета списывается сумма как за два?</b></dt>
  <dd><blockquote>Одно длинное сообщение может разбиваться на несколько SMS, за каждое из которых снимается отдельная плата. Одно SMS может содержать 70 символов с нелатинскими буквами (например, на русском) или 160 символов только с латинскими буквами. Для передачи более длинного сообщения оно разбивается на несколько SMS, и в каждое SMS добавляется специальный заголовок (UDH), позволяющий телефону объединить полученные части в одно длинное сообщение, и максимальная длина каждой SMS в этом случае становится 67 символов для нелатинских и 153 для латинских букв. Также существуют некоторые спецсимволы, для кодирования которых используются 2 символа — это "{}[]^~\|".</blockquote>
  </dd>

  <dt><a name="a90"></a><b>Какова максимальная длина отправляемых сообщений?</b></dt>
  <dd><blockquote>Максимальная длина одного сообщения — 800 символов, как с русскими буквами, так и без них. При этом для сообщения с русским текстом потребуется больше SMS для склейки, и соответственно стоимость будет выше.
    </blockquote>
  </dd>

  <dt><a name="a94"></a><b>Могу ли я организовать рассылку SMS со своего сайта?</b><dt>
  <dd><blockquote>Да, можете. Для этого предназначены варианты отправки при помощи скриптов по HTTP и SMTP протоколам. Подробнее об этом вы можете прочесть в документации.
    </blockquote>
  </dd>

  <dt><a name="a87"></a><b>Возможно ли задать свое имя или номер в качестве отправителя SMS-сообщений?</b></dt>
  <dd><blockquote>Да, это возможно. Укажите необходимое имя или номер в поле "Отправитель (Sender ID)" в настройках. Либо передавайте параметр sender через скрипт для автоматизированной рассылки. Все имена отправителей заранее регистрируются в личном кабинете и включаются после проверки.<br><br>Также возможно подключение динамического имени отправителя, при котором не нужно заранее регистрировать имена. Для этого режима необходимо обратиться в службу поддержки и объяснить цели использования.
    </blockquote>
  </dd>

  <dt><a name="a88"></a><b>Какие существуют ограничения на использование Sender ID?</b></dt>
  <dd><blockquote>Sender ID может содержать только английские буквы, цифры, точку и тире.<br>Максимальная длина — 15 цифр или 11 букв.<br><br>Запрещено указывать в качестве отправителя короткие платные номера, номер получателя сообщений, а также названия операторов, чужих интернет-ресурсов, компаний и государственных организаций. Также запрещено вводить абонентов в заблуждение, отправляя сообщения от чужого имени.<br><br>Некоторые операторы могут не поддерживать подстановку имени отправителя в SMS-сообщениях или пропускать только цифровой Sender ID.</blockquote>
  </dd>

  <dt><a name="a91"></a><b>Как я смогу узнать, что отправленное сообщение было успешно доставлено?</b></dt>
  <dd><blockquote>Все отправленные сообщения и статусы доставки доступны в пункте меню "Сообщения" на сайте в интерфейсе клиента.
    </blockquote>
  </dd>

  <dt><a name="a92"></a><b>Могу ли я отправлять сообщения на короткие номера?</b></dt>
  <dd>
    <blockquote>Нет, это невозможно, так как короткие номера обычно платные.
    </blockquote>
  </dt>

  <dt><a name="a86"></a><b>Почему время отправки не совпадает со временем, указанным в полученном SMS?</b></dt>
  <dd><blockquote>Время в SMS устанавливается SMS-центром сотового оператора, через который отправляются сообщения, и изменить его невозможно. Разница во времени между вашим местным временем и временем в SMS может быть несколько часов.<br><br>Но так как мы имеем несколько подключений к SMS-центрам с разными часовыми поясами, то в некоторых случаях можем решить эту проблему, прикрепив клиента к определенному SMS-центру.
    </blockquote>
  </dd>

  <!-- <dt><a name="a95"></a><b>Почему мое сообщение не отправилось и имеет статус "Запрещено"?</b></dt>
  <dd><blockquote>Все отправляемые сообщения проверяются с помощью автоматических фильтров. <br>Если в сообщении встречаются запрещенные слова или фразы, то такое сообщение не отправляется и получает статус "Запрещено". Деньги в этом случае не снимаются. <br> <br>Сообщения проверяются на наличие рекламы (спама), на содержание нецензурных выражений и оскорблений, на призывы отправить sms и на некоторые другие запрещенные тексты. <br> <br>Кроме этого, в сообщениях проверяется имя отправителя (Sender ID). <br>Запрещено указывать в качестве отправителя короткие платные номера, номер получателя сообщений, а также названия операторов, чужих интернет-ресурсов, компаний и государственных организаций.<br><br>Также сообщение получает статус "Запрещено" при попытке отправки от незарегистрированного имени отправителя. Добавить новое имя отправителя можно в личном кабинете <a href="/senders/?SE=329d4327">на данной странице</a>. Использовать имена можно после проверки модератором.<br> <br>Если у вас запретилось нормальное сообщение, то обратитесь в службу поддержки, и мы обработаем этот случай либо отключим для вас фильтр.</blockquote>
  </dd> -->

  <dt><a name="a97"></a><b>Какие правила существуют в отношении массовых рекламных рассылок?</b></dt>
  <dd><blockquote>В России существует <a href="http://www.consultant.ru/popular/advert/26_2.html#p237">Федеральный закон «О рекламе» от 13.03.2006 N 38-ФЗ</a>, который регулирует отношения в сфере рекламы. Приведем выдержку из этого закона, касающуюся массовых рассылок SMS-сообщений.<br><br><q><b>Ст. 18, п. 1 Федеральный закон «О рекламе»</b><br>Распространение рекламы по сетям электросвязи, в том числе посредством использования телефонной, факсимильной, подвижной радиотелефонной связи, допускается только при условии предварительного согласия абонента или адресата на получение рекламы. При этом реклама признается распространенной без предварительного согласия абонента или адресата, если рекламораспространитель не докажет, что такое согласие было получено. Рекламораспространитель обязан немедленно прекратить распространение рекламы в адрес лица, обратившегося к нему с таким требованием.</q><br>Из закона видно, что рассылка SMS-сообщений является законной только в том случае, если вы получили предварительное согласие ваших клиентов на то, что вы будете использовать их телефонные номера для рассылки. В противном случае производимая вами SMS-рассылка будет являться незаконной.<br><br>За нарушение статьи 18 рекламораспространитель несёт ответственность в соответствии с законодательством об административных правонарушениях.&nbsp; <a href="http://fas.gov.ru" title="ФАС">Федеральная антимонопольная служба</a>, уполномоченная контролировать соблюдение закона «О рекламе», периодически публикует материалы о&nbsp; привлечении нарушителей к ответственности.<br><br>Как же обеспечить легальность вашей SMS-рассылки? Самый простой способ — это выдать клиентам анкеты, при заполнении которых они смогут дать согласие на получение рекламных сообщений. Сейчас такие анкеты обычно заполняются при получении дисконтных карт или купонов на скидки. Естественно, анкеты необходимо хранить все время пока вы планируете оповещать клиентов при помощи SMS-рассылки.<br><br>Также нужно помнить, что по первому требованию клиента вы обязаны немедленно прекратить рассылку SMS-сообщений на его телефон.</blockquote>
  </dd>

  <dt><a name="a98"></a><b>Что означает статус "Невозможно доставить" и почему за такое SMS списываются деньги?</b></dt>
  <dd><blockquote>Статус "Невозможно доставить" означает, что абонент был долгое время недоступен или не существует, и на его номер не удалось доставить SMS-сообщение. Если после статуса указано число в скобках, то это значит, что было сделано несколько попыток отправить сообщение.<br><br>Сообщение с таким статусом уже не доставится абоненту, это окончательный статус. Обычно, если такой статус возвращается вскоре после отправки сообщения, то абонент с таким номером не существует. Если же после долгого нахождения в статусе "Передано оператору", то абонент существует, но за определенное время не появился в зоне доступа или не может принять SMS-сообщение из-за переполненной памяти в телефоне.<br><br>Плата списывается за все сообщения, переданные и принятые оператором, независимо от статуса их доставки, так как за такие сообщения мы также платим оператору, и, кроме того, они нагружают канал передачи SMS-сообщений и занимают очередь и ресурсы оборудования.</blockquote>
  </dd>

  <dt><a name="a99"></a><b>Почему при отправке SMS-сообщения через API возвращается ошибка "IP-адрес заблокирован"?</b></dt>
  <dd><blockquote>Если при вызове API скриптов возникло 5 ошибок авторизации в течение 30 минут, то устанавливается блокировка IP-адреса на 30 минут для защиты от подбора паролей. Данная блокировка не срабатывает, если IP-адрес, с которого выполняется запрос, прописан в настройках в списке разрешенных.<br><br>Если произошло 50 ошибочных запросов на отправку SMS в течение 10 минут, например, при отправке SMS на неверный номер телефона или с запрещенным текстом, то блокировка IP-адреса устанавливается на 10 минут для снижения нагрузки от частых неверных запросов.<br><br>В обоих случаях возвращается ошибка "ERROR = 4 (ip is blocked)".</blockquote>
  </dd>

  <!-- <dt><a name="a100"></a><b>Как заключить письменный договор на услуги рассылки SMS-сообщений?</b></dt>
  <dd><blockquote>Для заключения письменного договора необходимо скачать шаблон с <a href="/contract/?SE=329d4327">данной</a> страницы, заполнить требуемые поля и реквизиты, распечатать в двух экземплярах, подписать и отправить на наш почтовый адрес, указанный в договоре. Номер договора можно узнать после регистрации в реквизитах платежа в личном кабинете на странице "Оплата".<br><br>Мы не требуем обязательного заключения договора, но для рассылки рекламных сообщений необходимо заключить договор, в котором перечислены правила на такие рассылки и ответственность при поступлении жалоб в случае рассылки спама. Без заключенного договора вы можете отправлять подобные SMS-сообщения только после согласования.</blockquote>
  </dd> -->

  <dt><a name="a101"></a><b>Почему моя рассылка имеет статус "На модерации"?</b></dt>
  <dd><blockquote>Все рассылки перед отправкой проверяются с помощью автоматических фильтров. Если в тексте рассылки встречаются подозрительные слова или фразы, адреса сайтов либо рассылка осуществляется на большое количество номеров, то она становится на модерацию и будет отправлена после проверки.<br><br>Текст рассылки, однажды принятый модератором, получает статус разрешенного, и все последующие рассылки с таким же текстом будут отправляться сразу без проверки.<br><br>Кроме того, после нескольких проверок текстов одного клиента, не содержащих запрещенных элементов, мы можем полностью отключить для него модерацию.</blockquote>
  </dd>

  <dt><a name="a102"></a><b>Гарантируете ли вы сохранность и конфиденциальность данных, используемых при рассылке SMS?</b></dt>
  <dd><blockquote>Мы гарантируем то, что не передаем данные наших клиентов третьим лицам и не используем их<br>в своих целях. Мы не предоставляем нашим клиентам готовые базы абонентов для рассылки SMS, так как не занимаемся рассылкой спама.<br><br>В договоре, который можно заключить в письменном виде, есть соответствующий пункт конфиденциальности данных.<br><br>Кроме этого у нас достаточно защищенный личный кабинет. Настоящие SSL сертификаты для использования шифрованного соединения при работе с веб-интерфейсом, привязка сессий к IP-адресу и браузеру, а также эффективная защита от подбора паролей, позволяющая сделать только несколько попыток входа с неверным паролем с одного IP-адреса.<br><br>Также у нас работают высококвалифицированные специалисты с большим опытом, а профессионально написанный программный код снижает риски взлома сервера. Таким образом, утечка данных при достаточно сложном пароле практически исключена. <br><br>Сохранность данных обеспечивается дублированием рабочей базы данных на дополнительном сервере в режиме реального времени, а также созданием дополнительной ежедневной копии на отдельном сервере.</blockquote>
  </dd>

  <dt><a name="a103"></a><b>Что такое функция email2sms и как она работает?</b></dt>
  <dd><blockquote>В личном кабинете клиента в «Настройках пользователя» имеется возможность указания списка номеров телефонов, на которые будет происходить пересылка в виде SMS-сообщений текстов электронных писем, пришедших на адрес ваш_логин@send.smsc.ru. <br><br>Данная функция может быть использована, например, для получения уведомлений на телефон о различных событиях из программ или интернет-сервисов, в которых возможно указание только адреса E-mail.</blockquote>
  </dd>

  <dt><a name="a104"></a><b>Как получать ответы на отправленные SMS-сообщения?</b></dt>
  <dd><blockquote>Для получения ответов на отправленные SMS-сообщения нужно не указывать свое имя отправителя (Sender ID). Тогда все сообщения будут приходить с нашего федерального номера, и на них возможно будет ответить.<br><br>Все ответы от абонентов можно видеть в личном кабинете либо настроить пересылку на сервер клиента по HTTP или SMPP протоколам.<br><br>Также можно указать в качестве имени отправителя свой номер телефона, и ответы от абонентов будут приходить на него.</blockquote>
  </dd>

  <!-- <dt><a name="a105"></a><b>Возможно ли принимать входящие SMS-сообщения через ваш сервис?</b></dt>
  <dd><blockquote>Для приема входящих SMS от абонентов необходимо отправлять сообщения на наш общий федеральный номер, указывая в начале текста SMS-сообщения специальный префикс: логин, двоеточие и пробел.<br><br>Также имеется возможность приобретения выделенного виртуального номера в формате +7902XXXXXXX либо другого номера через услугу хостинга SIM-карты.<br><br>Более подробную информацию по данному вопросу можно получить в нашей документации на странице "<a href="/receive/?SE=329d4327">Получение входящих SMS-сообщений</a>".</blockquote>
  </dd>

  <dt><a name="a106"></a><b>Что такое HLR и для чего используются HLR-запросы?</b></dt>
  <dd><blockquote>HLR (Home Location Register) — это централизованная база данных, которая содержит подробную информацию о каждом абоненте данной сети GSM-оператора.<br><br>С помощью HLR-запросов можно проверять статусы мобильных номеров и осуществлять чистку баз данных от неактуальных номеров. Сервис проверки номеров сохраняет конфиденциальность запроса и не беспокоит абонента.<br><br>Данная услуга доступна как в личном кабинете, так и через API. Стоимость можно узнать <a href="/tariffs/?SE=329d4327">на странице тарифов</a>.</blockquote>
  </dd> -->

  <dt><a name="a107"></a><b>Почему я выключил телефон, а HLR-запрос возвращает статус "доступен"?</b></dt>
  <dd><blockquote>HLR-запросы не подходят для проверки доступности абонентов в реальном времени.<br>Информация, получаемая из таких запросов, кешируется у операторов и может сутки или больше отдавать неактуальную информацию. Для проверки доступности номеров абонентов в реальном времени можно использовать <a href="/faq/?SE=329d4327#a108">Ping-SMS</a>.<br><br>Данная услуга больше предназначена для проверки того, что абонент не заблокирован и был недавно в сети. Это полезно для чистки баз абонентов, чтобы удалить уже несуществующие из списка рассылок.</blockquote>
  </dd>

  <dt><a name="a108"></a><b>Что такое ping-SMS и для чего они используются?</b></dt>
  <dd><blockquote>Ping-SMS — это специальным образом сформированные SMS-сообщения, не отображаемые в телефоне получателя и предназначенные для проверки номеров абонентов на доступность в реальном времени.<br><br>Тарифицируются данные SMS как обычные сообщения.</blockquote>
  </dd>

  <dt><a name="a109"></a><b>Почему я отправляю сообщение от своего имени отправителя, а приходит от другого?</b></dt>
  <dd><blockquote>Некоторые мобильные операторы не позволяют осуществлять отправку SMS-сообщений от произвольного имени отправителя. Поэтому перед отправкой на таких операторов мы производим замену либо на фиксированное имя, предоставленное самим оператором, либо на наш федеральный номер, в зависимости от требований мобильного оператора.<br><br>Например, при отправке на казахстанского оператора Kcell имена отправителей заменяются на предоставленное оператором имя "INFO_KAZ", при отправке на российского оператора SKYdtNK и некоторых операторов Молдовы — на наш федеральный номер.</blockquote>
  </dd>

  <dt><a name="a110"></a><b>Почему некоторые другие сервисы могут предложить цены ниже, чем у Вас?</b></dt>
  <dd><blockquote>Различие цен у разных компаний обусловлено качеством каналов, более стабильные обычно идут напрямую через операторов и такие получаются дороже, так как операторы дают хорошие скидки только при очень большом трафике. А более низкие цены можно получить у крупных посредников (такие же сервисы, как наш), поэтому много небольших компаний подключаются к таким посредникам и для того, чтобы быстро набрать клиентов, делают цены с небольшой наценкой, не заботясь о качестве сервиса, и при отправке сообщений через такие сервисы в цепочке перед оператором получается 2 или 3 посредника, что сказывается на качестве доставки сообщений и стабильности канала.<br><br>Но мы всегда сможем сделать условия не хуже других компаний. Просто напишите нам, если найдете стоимость ниже, мы установим такую же. Мы всегда стараемся идти на уступки, так как нам важен каждый клиент.</blockquote>
  </dd>

  <dt><a name="a111"></a><b>Почему я отправил одно SMS-сообщение, а абоненту пришло несколько?</b></dt>
  <dd>
    <blockquote>
    Мы передаем оператору только те сообщения, которые отправляет клиент. Дублирование бывает у самих операторов, если у абонента в момент получения сообщения была плохая связь или повреждена SIM-карта, и телефон не может отправить подтверждение о приеме SMS. Также может быть просто сбой в сети оператора.<br><br>В редких случаях также может быть дублирование и на нашей стороне, если возникают проблемы на канале к оператору, и он не отправляет подтверждение о приеме сообщения.
    </blockquote>
  </dd>

</dl>
