h3 Уважаемые дамы и господа!

p Приветствуем Вас на сайте сервиса SMS-рассылок smsman!
p Если вам необходимо рассылать SMS-сообщения клиентам, партнерам или просто друзьям на различные номера телефонов в России или СНГ, то Вы попали в точку!
p Мы предлагаем воспользоваться нашим SMS-центром. Наша компания работает в сфере IT услуг с 2009 года, имеем большой опыт, отлаженный сервис и надежные каналы для отправки SMS-сообщений. 
br
p Ваш smsman
