<% set_title t('explore') %>

<div class='page-header'>
  <h1><%= t('explore') %>
</div>

<p>
  <strong>SMS-рассылка</strong> — проверенный временем эффективный способ прямой коммуникации.
</p>

<p>
  Используйте SMS-рассылку для информирования клиентов об акциях, скидках, мероприятиях. Повысьте лояльность клиентов, поздравив их SMS-сообщением с Днем Рождения и другими праздниками. Уведомите о статусе заказа, необходимости совершить очередной платеж или отправьте маркетинговую информацию.
</p>

<p>
  SMS-рассылки наиболее востребованы в современных условиях развития рынка, когда традиционная реклама утрачивает свою эффективность.
</p>

<p>
  SMS-рассылка с <strong><%= t('title') %></strong> это:

  <ul class='black_li'>
    <li>Надежная и производительная интеллектуальная система мониторинга и маршрутизации трафика. Производительность 3 200 транзакций в секунду. Доступность сервиса 99,97%.</li>
    <li>Скорость и зона покрытия: Пропускная способность 50 000 000 SMS-сообщений в день. Прямые подключения к операторам «Большой Тройки», SkyLink и TELE2. Доставка абонентам в роуминге. Два собственных SMS-центра. Вся зона покрытия 800 сетей в 220 странах мира.</li>
    <li>Защита и шифрование данных: Безопасность на договорном, техническом и уровне персонала. Сотрудникам компании закрыт доступ к конфиденциальной информации. Использование технологий VPN и SSL.</li>
    <li>Сервис: Персональный менеджер и индивидуальный подход. Сотрудники отдела поддержки помогут Вам в режиме 24/7, в том числе сделают SMS-рассылку.</li>
    <li>Отправка SMS-сообщений: персонализированных, по расписанию, с учетом часовых поясов. Поздравление с Днем Рождения в автоматическом режиме. Подстановка адреса отправителя — название Вашей компании. Онлайн статистика и детализация.</li>
  </ul>
</p>
