<section id="main" class="wrapper">
  <span id="logotype">
    <h1>
      <% if user_signed_in? %>
        <%= link_to 'smsman', root_path %>
      <% else %>
        <span>smsman</span>
      <% end %>
    </h1>
  </span>
  <article id="what_is_it">
    <h1 title="Что это?">
      Отправлять удобно,<br />
      отправлять быстрее,<br />
      просто отправлять
    </h1>
    <div class="columns">
      <div class="column">
        <p>Smsman, это сервис массовой, и&nbsp;не&nbsp;очень, рассылки смс. Чем, спросите вы, он&nbsp;отличается от&nbsp;других? Он&nbsp;проще, он&nbsp;быстрее, он&nbsp;крепче других собран.</p>
        <p>Много рассылок от&nbsp;одного имени одной и&nbsp;той&nbsp;же группе получателе? Всё на&nbsp;одной странице, только сообщения, только получатели и&nbsp;лишь одна кнопка.</p>
        <p>Просто сообщение <nobr>кому-то</nobr> определённому? Отлично, у&nbsp;нас есть удобный список контактов и, не&nbsp;менее удобное, поле &laquo;Отправитель&raquo; в&nbsp;которое ничто не&nbsp;мешает вписать свой телефон.</p>
      </div>
      <div class="column">
        <p>Написали что-то важное, но не готовое прямо сейчас отправиться? Сохранить можно прямо у нас. Все ваши сообщения всегда готовы для спуска.</p>
        <p>Часто делаете рассылки и иногда нужно что-то подсмотреть? Или может посчитать? Вся история, полнотекстовый поиск, ничего не пропадёт и всё найдётся.</p>
        <p>А ещё мы умеем делать всё на лету, ведь очень приятно когда всё сразу видно, когда всё сразу именно так, как дожно быть.</p>
      </div>
    </div>
  </article>
  <% per_second = 10 %>
  <div id="sent">
    <div class="number">
      <span><%= typo_number(per_second) %></span>
      <p><small>Именно столько сообщений мы&nbsp;уже успели отправить пока вы&nbsp;находитесь на&nbsp;этой странице</small></p>
    </div>
  </div>
  <script type="text/javascript">
    setInterval(function()
    {
      var el = $('#sent span:first');
      typoNumber(parseInt(el.text()) + 1, el);
      var h = el.width();
      el.css({ 'height': h + 'px', 'line-height': h + 'px' })
    }, 1000 / <%= per_second %>)
  </script>
  <article id="how_much_is_it">
    <h1 title="Сколько это стоит?">
      Не бесплатно,<br />
      но зато честно
    </h1>
    <div class="columns">
      <div class="column">
        <p>Да, мы&nbsp;не&nbsp;предоставляем сервис бесплатно, но&nbsp;и&nbsp;он&nbsp;нам обходится не&nbsp;за&nbsp;просто так.</p>
        <p>Как устроено ценообразование? Всё очень просто, сколько нужно столько и&nbsp;покупаете, одно «но», не&nbsp;меньше 30.</p>
        <p>Отправка сообщений выйдет даже дешевле, чем со многих мобильных телефонов!</p>
      </div>
      <div class="column">
      <p>Оплата сейчас принимается через <a href="http://www.robokassa.ru/ru/"><u>Робокассу</u></a>, но&nbsp;если вы&nbsp;оправляете сообщения часто, ничто не&nbsp;мешает заключить с&nbsp;нами индивидуальный договор, например на&nbsp;ежемесячное пополнее запасов сообщений.</p>
      <p>Единственное важное условие&nbsp;&mdash; мы&nbsp;сейчас работаем на&nbsp;рынках России и&nbsp;Украины, и&nbsp;для этих стран разные тарифы и&nbsp;пакеты.</p></div>
    </div>
  </article>
  <article id="is_there_any_questions">
    <h1 title="Ещё вопросы?">
      Остались сомнения?<br />
      Есть ещё вопросы?
    </h1>
    <div class="columns">
      <div class="column">
        <p>Мы, как нормальные люди, составили список популярных <a href=""><u>вопросов и&nbsp;ответов</u></a> и, временами, даже обновляем его.</p>
      </div>
      <div class="column">
       <p>А&nbsp;если есть <nobr>какие-либо</nobr> конкретные вопросы, предложения, или что ещё, с&nbsp;нами всегда можно связаться по&nbsp;адресу <a href="mailto:info@smsman.org"><u>info@smsman.org</u></a></p>
      </div>
</section>
