- set_title t('welcome')

p
    h1= t('welcome')

p= t('welcome_text')

= link_to t('sign_up'), new_user_registration_path, class: 'btn primary'
|&nbsp;
|or
|&nbsp;
= link_to t('sign_in'), new_user_session_path, class: 'btn'
