<p><%= total_by_prefixes(processed) %></p>
<span class="actions">
  <a href="#" onclick="$(this).next().click(); return false" class="pseudolink"><u>Загрузить ещё файл</u></a>
  <input type="file" accept="text/plain" name="" id="" />
  или
  <a href="" class="clear pseudolink"><u>удалить</u></a>
</span>
