<% resource = User.new; resource_name = :user %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: 'dropdown' }) do |f| %>
  <div class="white">
    <p>
      <label>
        Логин
        <%= f.email_field :email, placeholder: 'Обязательное поле', required: 'required' %>
      </label>
    </p>
    <p>
      <label>
        Пароль
        <%= f.password_field :password, placeholder: 'Обязательное поле', required: 'required' %>
      </label>
    </p>
    <p class="total">
      <button>Войти</button>
    </p>
  </div>
<% end %>
